.column1 {
  background-color: #bdc3c7;
  flex: 3;
  padding: 10px 20px;
  border-radius: 20px 0px 0px 20px;
}
.column1 .noSoal {
  font-size: 2em;
  font-weight: 600;
  /* background-color: #3498db; */
  border-radius: 50%;
  padding: 5px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  /* width: ; */
}
.column1 .soal {
  font-size: 1.5em;
  font-weight: 500;
}

.column1 .jawaban-wrapper {
  margin: 20px 0;
  position: relative;
  display: block;
}

.column1 .soal-wrapper {
  display: flex;
  flex-direction: column;
}

.column1 .soal-wrapper .soal-text {
  display: flex;
  flex-direction: column;
}

/* Customize the label (the container) */
.jawaban {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: fit-content;
}

/* Hide the browser's default radio button */
.jawaban input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.jawaban label {
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.jawaban:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.jawaban input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.jawaban input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.jawaban .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.column1 {
  display: flex;
  gap: 10px;
}
